.main-icon {
    font-size: 7em;
    text-align: center;
}

.card-header {
    text-align: center;
}

.card-body {
    text-align: center;
}

.patient-menu {
    text-decoration: none;
    color: black;
}

.form-group {
    width: 100% !important;
}

textarea {
    width: 100% !important;
}

.radio_appointment {
}

.btn_appointment {
    width: 100px;
}

#no-appointment-cancel {
    font-size: 25px !important;
    color: #5a5a5a;
}

/*----------------- */
.btn-login {
    width: 150px;
    height: 30px;
    background: #343a40;
    border-radius: 5px;
    border-color: #343a40;
    font-size: 16px;
    color: white;
}

.image-flip:hover .back,
.image-flip.hover .back {
    transform: rotateY(0deg);
    border-radius: 0.25rem;
}

.image-flip:hover .front,
.image-flip.hover .front {
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.front .card,
.back .card {
    min-height: 312px;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0 0 1em rgb(170, 178, 180);
}

.back .card a {
    font-size: 14px;
    color: white !important;
}

.front .card .card-title,
.back .card .card-title {
    color: black !important;
}

.front .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.btn-available-date {
    color: black;
    background: black;
    border-radius: 5px;
}

.tr:hover {
    background-color: #98d4ca;
    cursor: pointer;
}

.img-banner {
    background-image: url("/images/back.png");
    height: 45vh;
    background-size: cover;
    border-radius: 2vh;
    box-shadow: 0 0 1em rgb(170, 178, 180);
}

.card-doc {
    box-shadow: 0 0 1em rgb(170, 178, 180);
    font-size: 16px;
}

.form-down {
    font-size: 18px;
}

/*----cancel-Appointment--*/
.heading {
    font-size: 42px;
    text-align: center;
}

.heading-time {
    font-size: 28px;
    text-align: center;
}

/*---recipt---*/
h3 {
    font-family: "Poppins", sans-serif;
}

.recipe-box .box {
    background: #fff;
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    box-shadow: 0 0 6px #a0a0a0;
}

.recipe-box .box:hover {
    box-shadow: 0 0 6px #4183d7;
}

.recipe-box .box .box-recipe-text {
    margin: 20px 0px;
    font-size: 18px;
    line-height: 30px;
}

.recipe-box .box .box-btn a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.text-style-recipt {
    font-size: 20px;
}
.card-verify {
    font-size: 20px;
}
.btn-verify {
    color: #fff;
    background-color: #111111;
    border-color: #111111;
    width: 290px;
    font-size: 26px;
    text-align: center;
}
.card-activ {
    background-color: #fff;
    border-radius: 1vh;
    box-shadow: 0 0 6px #a0a0a0;
}

